*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

nav {
  margin-top: 20px;
}

section {
  margin: 0px auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1 {
  color: var(--text-color);
  text-decoration: none;
  font-size: 68px;
  font-weight: bold;
  font-family: "Langar", cursive;
}

h2 {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
  font-family: "Langar", cursive;
  margin-bottom: 22px;
}

h3 {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  font-family: "Langar", cursive;
}

p {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Langar", cursive;
}

/* slider */
.slideshow img {
  height: 200px;
}

.slick-prev {
  left: 0 !important;
}

.slick-next {
  right: 0 !important;
}

:root {
  --text-color: #000000;
  --text-contacts-color: #FFFFFF;
  --accent-color: #D9ADD6;
  /* --contact-button-color: #5980F3; */
  --background-color: #D9D9D9;
  --background-footer-color: #3C4043;
}

.header {
  padding-top: 30px;
  height: 80vh;
  justify-content: space-between;
  background: url(../images/clem-onojeghuo-175917.jpg) no-repeat;
  background-size: cover;
  background-position: top;
}

.logo img {
  width: 40%;
}

.logo {
  padding-left: 28px;
  width: 25%;
}

.button {
  text-align: right;
  padding-right: 28px;
}

.callToAction {
  padding: 10px;
  background-color: var(--accent-color);
  margin-left: 16px;
  color: var(--text-contacts-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  transition: 0.5s;
  font-family: "Langar", cursive;
}

.navigation {
  width: 40%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
}

nav a {
  color: var(--text-contacts-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  transition: 0.5s;
  font-family: "Langar", cursive;
}

nav a:hover {
  color: darkgray;
}

.titiStory {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}

.titiStory_resto {
  width: 50%;
}

.titiStory_story {
  width: 50%;
}

.titiStory_resto_title {
  margin-bottom: 38px;
}

.titiStory_story_title {
  margin-bottom: 16px;
}

.titiStory_story_text {
  width: 70%;
}

.titiStory_story_description {
  margin-bottom: 64px;
}

.titiStory_image {
  width: 70%;
}

.myBurgers {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.myBurgers_burgers {
  width: 50%;
}

.myBurgers_burgers_text {
  width: 70%;
}

.myBurgers_photos {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.myBurgers_photos_img {
  height: 190px;
  margin-right: 20px;
}

.actus {
  text-align: center;
}

article {
  width: 380px;
}

.actus_articles {
  display: flex;
  justify-content: space-between;
}

.actus_articles_img {
  width: 380px;
  height: 350px;
  margin-top: 24px;
}

.actus_articles_link {
  margin-top: 12px;
  text-decoration: none;
  background-color: #5F6368;
  margin-left: 16px;
  color: var(--text-contacts-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  font-family: "Langar", cursive;
  padding: 4px;
}

.actus_articles_text {
  margin-top: 20px;
  margin-bottom: 40px;
}

.cta {
  background: #D9D9D9;
  padding: 40px;
}

.cta__background {
  background-color: var(--background-footer-color);
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.cta_title_text {
  color: var(--text-contacts-color);
  margin: 0;
}

.cta_form {
  text-align: center;
  width: 50%;
}

.cta_title {
  width: 50%;
  text-align: center;
}

.cta_form_label {
  margin-right: 56px;
  color: var(--text-contacts-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Langar", cursive;
}

.cta_form_input {
  width: 60%;
  height: 30px;
  margin-top: 12px;
}

.footer {
  background: #3C4043;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: 0 auto;
}

.footer_list {
  color: var(--text-contacts-color);
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  font-family: "Langar", cursive;
}

.footer_flex {
  display: flex;
  flex-direction: column;
}

.footer_list__text {
  margin-bottom: 12px;
}

.footer_list__image {
  width: 250px;
  height: 130px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social__icon {
  fill: var(--text-contacts-color);
  background-color: var(--background-footer-color);
}

#map {
  height: 400px;
  width: 100%;
}

.header__clicAndCollect {
  background: none;
  height: auto;
}

.cta__link {
  margin: 0 auto;
}

.main__clicAndCollect {
  text-align: center;
}

.main__clicAndCollect__caption {
  color: var(--accent-color);
}

.main__clicAndCollect-title {
  margin-top: 100px;
  margin-bottom: 21px;
}

.main__clicAndCollect-text {
  width: 50%;
  margin: 0 auto;
}

.cta__button {
  width: 456px;
  height: 89px;
  margin: 0 auto;
  border: transparent;
  background-color: var(--accent-color);
  color: var(--text-contacts-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  font-weight: 400;
  font-family: "Langar", cursive;
}

.ourBurgers {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed var(--background-footer-color);
}

.ourBurgers__description {
  width: 40%;
}

.ourBurgers__clicAndCollect {
  width: 40%;
  text-align: center;
}

.ourBurgers__clicAndCollect-text {
  margin-top: 0;
  margin-bottom: 0;
}

.ourBurgers__clicAndCollect-title {
  margin-bottom: 5px;
}

.burgers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 50px;
  padding-top: 50px;
  border-bottom: 2px dashed var(--background-footer-color);
}

.burger__input {
  zoom: 2;
}

.burger__img {
  width: 25%;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.burger__title {
  width: 25%;
  margin: 0;
  color: var(--text-color);
  font-size: 38px;
  line-height: 45px;
  text-align: center;
}

.burger__img--positionBottom {
  object-position: bottom;
}

.burger__img--position {
  object-position: 20% 80%;
}

.burger__text {
  width: 30%;
}

.cta__burgers {
  background: none;
  text-align: center;
  padding-top: 0;
  padding-bottom: 60px;
}

.drinks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.drink {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border-bottom: 2px dashed var(--background-footer-color);
}

.cta__drinks {
  background: none;
  text-align: center;
  padding-bottom: 60px;
}

.drink__img {
  width: 40%;
}

.price {
  font-size: 32px;
  line-height: 38px;
}

.cta__price {
  text-align: end;
}

.price--margin {
  margin-bottom: 20px;
}

.modification__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--background-color);
  border-radius: 50%;
  color: var(--background-footer-color);
}

.modification__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/*# sourceMappingURL=style.css.map */
