.header__clicAndCollect{
    background: none;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    
    @media screen and (min-width:768px){
       padding-right: 120px; 
    }
}
.button-mobil__cta{
    margin-top: 50px;
}
.cta__link{
   margin: 0 auto;
}
.main-clicAndCollect{
    text-align: center;

    &_caption{
    color: var(--accent-color);
    }

    &_title{
    margin-top: 100px;
    margin-bottom: 21px;
    }

    &_text{
    width: 50%;
    margin: 0 auto;
    }
}

.cta__button{
    width: 40%;
    height: 89px;
    margin: 0 auto;
    border: transparent; 
    
    background-color: var(--accent-color);
    color:var(--text-contacts-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    font-weight: 400;
    font-family: 'Langar', cursive;
}
.cta__background__clicAndCollect{
    text-align: center;
}