.ourBurgers{
    width: 90%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 2px dashed var(--background-footer-color);

}
.ourBurgers__description{
    width: 40%;
}
.ourBurgers__clicAndCollect{
    width: 40%;
    text-align: center;
}
.ourBurgers__clicAndCollect-text{
    margin-top: 0;
    margin-bottom: 0;
} 
.ourBurgers__clicAndCollect-title{
    margin-bottom: 5px;
}
.burgers{
   
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 2px dashed var(--background-footer-color);
    @media screen and (min-width:768px){
        display: flex;
    align-items: center;
    justify-content: space-around;
    
    }
}
.burger__input{
    zoom: 2;
}
.burger__img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    @media screen and (min-width:768px){
         width: 25%;
    }
}
.burger__title{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-color);
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    @media screen and (min-width:768px){
        width: 25%; 
        margin: 0;
   }
}
.burger__img--positionBottom{
   object-position: bottom;
}
.burger__img--position{
    object-position: 20% 80%;  
}
.burger__text{
    text-align: center;
    @media screen and (min-width:768px){
       width: 30%;
   }
  
}
.cta__burgers{
    background: none;
    text-align: center;
    padding-top: 0;
    padding-bottom: 60px;

    &__accompagnements{
        margin-top: 60px;
}

}