:root {
    --text-color: #000000;
    --text-contacts-color: #FFFFFF;
    --accent-color: #D9ADD6;
    /* --contact-button-color: #5980F3; */
    --background-color: #D9D9D9;
    --background-footer-color: #3C4043;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    padding: 0;
    margin: 0;
}

header{
    padding-top: 30px;
    height: 80vh;
    justify-content: space-between;
    background: url(../img/clem-onojeghuo-175917.jpg) no-repeat;
    background-size: cover;
    background-position: top ;
}
li{
    list-style: none;   
}
.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.flex{
   display: flex; 
   flex-wrap: wrap;
}
.logo img{
    width: 40%;
}
.logo{
    
    padding-left: 28px;
    width: 400px;
}
.button{
    text-align: right;
    padding-right: 28px;
    
}
.callToAction{
    padding: 10px;
    background-color: var(--accent-color);
    filter: brightness(60%);
    margin-left: 16px;
    color: var(--text-contacts-color);
    text-decoration: none;
    font-size: 20px;
    line-height: 28px; 
    font-weight: bold;
    transition: 0.5s;
    font-family: 'Langar', cursive;
}
.navigation{
    width: 40%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;

}
nav a{
    color: var(--text-contacts-color);
    text-decoration: none;
    font-size: 20px;
    line-height: 28px; 
    font-weight: bold;
    transition: 0.5s;
    font-family: 'Langar', cursive;
}
nav a:hover{
color: darkgray;
}

nav{
    margin-top: 20px; 
}
section{
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.titiStory{

    display: flex;  
    justify-content: space-between;
    margin: 50px auto;
  
}
.titiStory_resto_title{
    margin-bottom: 38px;
}
.titiStory_story_title{
    margin-bottom: 16px;
}
h1{
    color: var(--text-color);
    text-decoration: none;
    font-size: 68px;
    font-weight: bold;
    font-family: 'Langar', cursive;
  
         
}
h2{
    color: var(--accent-color);
    text-decoration: none;
    font-size: 48px;
    font-weight: bold;
    font-family: 'Langar', cursive;
    margin-bottom: 22px;
 
       
}
h3{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
    font-family: 'Langar', cursive;
}
p{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    font-weight: 400;
    font-family: 'Langar', cursive;
}
.titiStory_story_text{
    
    width: 70%;
}

.titiStory_story_description{
    margin-bottom: 64px;
}
.titiStory_resto{
    margin-right:122px;
    /* width: 40%; */
}
.titiStory_image{
   width: 450px;
   height: 315px;
   margin-top: 38px;
    
}
.myBurgers{
    margin: 76px auto;
    display: flex;  
    justify-content: space-around;
    
}
.myBurgers_burgers_text{
    width: 80%;
}
.myBurgers_photos{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.myBurgers_photos_img{
    width: 200px;
    height: 190px;
    margin-right: 20px;
}

.actus{
    text-align: center;
    
}  
article{
    width: 380px;
}
.actus_articles{
    display: flex;
    justify-content: space-between;
}
.actus_articles_img{
    width: 380px;
    height: 350px;
    margin-top: 24px;
}
.actus_articles_link{
    margin-top: 12px;
    text-decoration: none;
    background-color: #5F6368;
    margin-left: 16px;
    color: var(--text-contacts-color);
    text-decoration: none;
    font-size: 20px;
    line-height: 28px; 
    font-weight: bold;
  
    font-family: 'Langar', cursive;
    padding: 4px;
}
.actus_articles_text{
    margin-top: 20px;
    margin-bottom:40px ;
}
.cta{
    background: #D9D9D9;

    padding: 40px;
    
}
.cta__background{
    background-color: var(--background-footer-color);
    display: flex;  
    justify-content: space-between;
    padding: 30px;
  
}
.cta_title_text{
    color:var(--text-contacts-color);
    margin: 0;
}
.cta_form{
    text-align: center;
    width: 50%;

   
}
.cta_title{
    width: 50%;
    text-align: center;
    
}

.cta_form_label{
    margin-right: 56px;
    color:var(--text-contacts-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    font-weight: 400;
    font-family: 'Langar', cursive;
}
.cta_form_input{
   width: 60%;
   height: 30px;
   margin-top: 12px;
}
.footer{
    background: #3C4043;
    width: 100%;
    display: flex;  
    justify-content: space-around;
    padding: 30px;
    margin: 0 auto;
    
   
}
.footer_list{
   
    color: var(--text-contacts-color);
    text-decoration: none;
    font-size: 20px;
    line-height: 28px; 
    font-weight: bold;
  
    font-family: 'Langar', cursive;
}
.footer_flex{
   display: flex;
   flex-direction: column;
}
.footer_list__text{
    margin-bottom: 12px;
}
.footer_list__image{
    width: 250px;
    height: 130px;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.social__icon{
    fill: var(--text-contacts-color);
    background-color: var(--background-footer-color)
}
/* page 2 */
.header__clicAndCollect{
    background: none;
    height: auto;
}
.cta__link{
   margin: 0 auto;
}
.main__clicAndCollect{
    text-align: center;
}
.main__clicAndCollect__caption{
    color: var(--accent-color);
}
.main__clicAndCollect-title{
    margin-top: 100px;
    margin-bottom: 21px;
}
.main__clicAndCollect-text{
    width: 50%;
    margin: 0 auto;
}

.cta__button{
    width: 456px;
    height: 89px;
    margin: 0 auto; 
    
    background-color: var(--accent-color);
    color:var(--text-contacts-color);
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;

    font-weight: 400;
    font-family: 'Langar', cursive;
}

/* page 3 */
.ourBurgers{
    display: flex;
    justify-content:space-between;
  border-bottom: 2px dashed var(--background-footer-color);

}
.ourBurgers__description{
    width: 40%;
}
.ourBurgers__clicAndCollect{
    width: 40%;
    text-align: center;
}
.ourBurgers__clicAndCollect-text{
    margin-top: 0;
    margin-bottom: 0;
} 
.ourBurgers__clicAndCollect-title{
    margin-bottom: 5px;
}
.burger__img{
    width: 205px;
    height: 194px;

}
.burger__img::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../img/Ellipse.svg);
  } 

